#root {
  height: 100%;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: black;
  font-family: Roboto, "Times New Roman";
}

.user-profile-card {
  margin-top: 30px;
  text-align: center;
}
.user-profile-card h3 {
  font-family: Unna;
}

.carousel-plants-container {
  display: flex;
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 30px;
}

.carousel-plants-container::-webkit-scrollbar {
  display: none;
}

.carousel-plants-container img {
  margin: 5px;
  border-radius: 20px;
  opacity: 30%;
  height: 75px;
  width: 75px;
}

.carousel-plants-container img:hover {
  opacity: 100%;
}

.specific-plant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
}

.specific-plant-card img {
  border-radius: 20px;
  margin-bottom: 15px;
  height: 200px;
  width: 250px;
}

.specific-plant-card p {
  width: 60%;
}

.specific-plant-card-status-watered {
  padding-top: 4px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  background-color: rgba(157, 255, 127, 0.615);
}

.specific-plant-card-status-watered p {
  margin: 0;
  font-size: 8px;
}
