#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Lora", serif;
}

.user-profile-logo {
  font-family: "Yellowtail", cursive;
  font-size: 65px;
  margin-top: -100px;
  margin-bottom: 20px;
}

.user-profile-card {
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-image: linear-gradient(174.2deg,
      rgba(255, 244, 228, 1) 7.1%,
      rgba(240, 246, 238, 1) 67.4%);
}

.user-profile-card h3 {
  font-family: "Unna", serif;
}

.user-profile-name {
  text-transform: capitalize;
}

.carousel-plants-container {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90vw;
}

.carousel-plants-container::-webkit-scrollbar {
  display: none;
}

.carousel-plants-item {
  max-width: 80px;
  max-height: 60px;
  margin: 5px;
}

.carousel-plants-item-img {
  opacity: 30%;
  width: 65px;
  height: 60px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.carousel-plants-item-img:hover {
  opacity: 100%;
}

.carousel-plant-item-name {
  font-size: 10px;
  opacity: 70%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.specific-plant-card {
  border-radius: 5px;
  font-size: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 275px;
  /* height: 360px; */
}

.specific-plant-img {
  border-radius: 5px 5px 0 0;
  height: 150px;
  width: 100%;
}

.specific-plant-card-list {
  list-style: none;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.642);
}

.specific-plant-card-list .li {
  word-wrap: break-word;
}

.specific-plant-time-bg {
  padding: 2.5px;
  border-radius: 5px;
}

.orange {
  color: rgba(245, 153, 24, 0.799);
}

.green {
  color: green;
}

.specific-plant-card-break {
  flex-basis: 100%;
  height: 0;
}

.specific-plant-card-trashcan {
  width: 35px;
  height: 35px;
  opacity: 70%;
  margin-left: 118px;
  margin-top: -10px;
}

.specific-plant-card-trashcan:hover {
  opacity: 100%;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .carousel-plants-container {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    grid-row: auto auto;
    overflow: scroll;
    max-height: 270px;
  }

  .carousel-plants-item {
    max-width: 140px;
    max-height: 120px;
  }

  .carousel-plants-item-img {
    width: 120px;
    height: 100px;
  }

  .specific-plant-card {
    width: 350px;
  }

  .specific-plant-card-trashcan {
    width: 50px;
    height: 50px;
    opacity: 70%;
    margin-left: 148px;
  }
}

/* Media queries for desktop */
@media only screen and (min-width: 992px) {
  .user-profile-logo {
    font-family: "Yellowtail", cursive;
    font-size: 65px;
  }

  .carousel-plants-container {
    grid-template-columns: 150px 150px 150px 150px;
  }

  .carousel-plants-item {
    max-width: 150px;
    max-height: 130px;
  }

  .carousel-plants-item-img {
    width: 140px;
    height: 120px;
  }

  .specific-plant-card {
    width: 350px;
  }

  .specific-plant-card-trashcan {
    width: 50px;
    height: 50px;
    opacity: 70%;
    margin-left: 148px;
  }
}