.subscription-container {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  height: 100vh;
  text-align: center;
}

.subscription-logo {
  font-family: "Yellowtail", cursive;
  font-size: 65px;
  padding-top: 110px;
  margin-bottom: 20px;
}

.subscription-item-container-heading {
  font-family: "Unna", serif;
  margin-bottom: 30px;
}
